@font-face {
  font-family: "NeueMontreal";
  src: url("/fonts/NeueMontreal/NeueMontreal-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Nusar";
  src: url("/fonts/nusar/NUSAR.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
